<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">

<!-- the cathectic LCD tweaks, from linuxquestions.org,
 http://www.linuxquestions.org/questions/showthread.php?postid=1361098#post1361098 -->

<fontconfig>

 <match target="font" >
    <edit mode="assign" name="hinting">
     <bool>true</bool>
    </edit>
 </match>
 <match target="font" >
    <edit mode="assign" name="antialias">
     <bool>false</bool>
    </edit>
 </match>
 <match target="font" >
    <edit mode="assign" name="hintstyle">
     <const>hintfull</const>
    </edit>
 </match>

</fontconfig>
