<?xml version="1.0"?>
<!DOCTYPE fontconfig SYSTEM "fonts.dtd">

<!-- the cathectic LCD tweaks, from linuxquestions.org,
 http://www.linuxquestions.org/questions/showthread.php?postid=1361098#post1361098 -->

<fontconfig>
     <match target="font" >
    <edit mode="assign" name="hinting">
     <bool>true</bool>
    </edit>
 </match>
 <match target="font" >
    <edit mode="assign" name="antialias">
     <bool>false</bool>
    </edit>
 </match>
 <match target="font" >
    <edit mode="assign" name="hintstyle">
     <const>hintfull</const>
    </edit>
 </match>
  <match target="font">
    <edit name="hinting" mode="assign"><bool>true</bool></edit>
  </match>
  <match target="font">
    <edit name="hintstyle" mode="assign"><const>hintslight</const></edit>
  </match>
  <match target="font">
    <edit mode="assign" name="lcdfilter">
      <const>lcddefault</const>
    </edit>
  </match>
    <match target="font">
        <test name="family"><string>GulimChe</string></test>
        <edit name="globaladvance"><bool>false</bool></edit>
    </match>

    <match target="font">
        <test name="family"><string>DotumChe</string></test>
        <edit name="globaladvance"><bool>false</bool></edit>
    </match>

    <match target="font">
        <test name="family"><string>BatangChe</string></test>
        <edit name="globaladvance"><bool>false</bool></edit>
    </match>

    <match target="font">
        <test name="family"><string>GungsuhChe</string></test>
        <edit name="globaladvance"><bool>false</bool></edit>
    </match>
    <match target="font">
        <test name="family" compare="eq" ignore-blanks="true">
            <string>Bitstream Vera Sans</string>
        </test>
        <test name="pixelsize" compare="less">
            <double>7.5</double>
        </test>
        <edit name="hinting">
            <bool>false</bool>
        </edit>
    </match>

    <match target="font">
        <test name="family" compare="eq" ignore-blanks="true">
            <string>Bitstream Vera Serif</string>
        </test>
        <test name="pixelsize" compare="less">
            <double>7.5</double>
        </test>
        <edit name="hinting">
            <bool>false</bool>
        </edit>
    </match>

    <match target="font">
        <test name="family" compare="eq" ignore-blanks="true">
            <string>Bitstream Vera Sans Mono</string>
        </test>
        <test name="pixelsize" compare="less">
            <double>7.5</double>
        </test>
        <edit name="hinting">
            <bool>false</bool>
        </edit>
    </match>
        <match target="pattern">
                <test qual="any" name="family">
                        <string>serif</string>
                </test>
                <edit name="family" mode="prepend" binding="strong">
                        <string>Microsoft YaHei</string>
                        <string>YaHei Consolas Hybrid</string>
                </edit>
        </match>
        <match target="pattern">
                <test qual="any" name="family">
                        <string>sans-serif</string>
                </test>
                <edit name="family" mode="prepend" binding="strong">
                        <string>Microsoft YaHei</string>
                        <string>YaHei Consolas Hybrid</string>
                </edit>
        </match>
        <match target="pattern">
                <test qual="any" name="family">
                        <string>monospace</string>
                </test>
                <edit name="family" mode="prepend" binding="strong">
                        <string>YaHei Consolas Hybrid</string>
                        <string>Microsoft YaHei</string>
                </edit>
        </match>
        <match target="font" >
                <test name="family" compare="contains" >
                        <string>Song</string>
                </test>
                <test name="family" compare="contains" >
                        <string>Sun</string>
                </test>
                <test name="family" compare="contains" >
                        <string>Kai</string>
                </test>
                <test name="family" compare="contains" >
                        <string>Ming</string>
                </test>
                <test name="family" compare="contains" >
                        <string>Hei</string>
                </test>
                <test name="family" compare="contains" >
                        <string>LiSu</string>
                </test>
                <!-- check to see if the font is just regular -->
                <test name="weight" compare="less_eq">
                        <int>100</int>
                </test>
                <test compare="more_eq" target="pattern" name="weight" >
                        <int>180</int>
                </test>
                <edit mode="assign" name="embolden" >
                        <bool>true</bool>
                </edit>
        </match>

    <!-- 2. 强制用雅黑替换宋体 -->
    <selectfont>
        <rejectfont>
            <pattern><patelt name="family"><string>SimSun</string></patelt></pattern>
        </rejectfont>
    </selectfont>
    <alias>
        <family>SimSun</family>
        <prefer>
            <family>Microsoft YaHei</family>
        </prefer>
    </alias>

    <!-- 3. 全局字体设置 -->
        <match target="font">
        <!-- 使用字体全局间距: 关 -->
                <edit name="globaladvance">
                        <bool>false</bool>
                </edit>

        <!-- 调整字体宽度: 0 -->
                <edit name="spacing">
                        <int>0</int>
                </edit>
        
        <!-- 普通微调: 开 -->
                <edit name="hinting">
                        <bool>true</bool>
                </edit>

        <!-- 自动微调： 关 -->
                <edit name="autohint">
                        <bool>false</bool>
                </edit>

        <!-- 抗锯齿： 开 -->
                <edit name="antialias" mode="assign">
                        #<bool>true</bool>
                        <bool>false</bool>
                </edit>
        </match>

    <!-- 4. 关闭像素数在5-18之间英文字体的抗锯齿功能 -->
        <match target="font">
        <!-- 如果字体名称包括如下字符串 -->
                <test name="family" compare="contains">
                        <string>Tahoma</string>
                </test>
                <test name="family" compare="contains">
                        <string>verdana</string>
                </test>
                <test name="family" compare="contains">
                        <string>Arial</string>
                </test>
                <test name="family" compare="contains">
                        <string>Times</string>
                </test>
                <test name="family" compare="contains">
                        <string>Courier</string>
                </test>

        <!-- 如果字体像素数>=5 -->
                <test name="pixelsize" compare="more_eq">
                        <int>5</int>
                </test>

        <!-- 如果字体像素数<=18 -->
                <test name="pixelsize" compare="less_eq">
                        <int>18</int>
                </test>

        <!-- 抗锯齿： 关 -->
                <edit name="antialias" mode="assign">
                        <bool>false</bool>
                </edit>
        </match>


</fontconfig>
